.sidebar {
  width: 220px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1E1E2F;
  color: white;
  padding: 20px;
}
.sidebar h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar ul li {
  margin: 20px 0;
}
.sidebar ul li a {
  color: white;
  text-decoration: none;
}
.sidebar ul li a:hover {
  color: #00A8E8;
}
